<!-- ユーザーの詳細 -->
<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
  <% if @user==current_user %> <!--現在ログインしているユーザーを取得-->
    <P><%= link_to "プロフィール編集",edit_user_path(@user) %></P>
  <% end %>

</div>

<!--ユーザーの投稿一覧-->
<%= render 'post_images/list',post_images: @post_images %>
<!--users/show.html.erbから呼び出す場合には、違うフォルダに部分テンプレートがあるため、フォルダ名も指定する必要があることに気をつける-->

